<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>JiblaTech</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">  
<script>
  $(document).ready(function () {
    let uname  = localStorage.getItem('username');
    let token = localStorage.getItem('restToken');
    if((uname && uname !== undefined && uname !== 'null') && (token && token !== undefined && token !== 'null')) {
      $('.nav-link .signin').html('<span class="dashboard-link"><%= __("NAVBAR.GO_TO_DASHBOARD")%></span><img src="img/right-thin-arrowheads.svg" />');
      $('.nav-link .signin').attr('href', 'https://dev.jibla.io/dashboard/profile');
    } else {
      $('.nav-link .signin').text('<%= __("NAVBAR.SIGN_IN")%>');
      $('.nav-link .signin').attr('href', 'https://dev.jibla.io/dashboard/login');
    }

    $(window).on('beforeunload', function () {
      $(window).scrollTop(0);
    });

    $(".hamburger-inner").click(function () {
      $(".header-nav").toggleClass("show-nav");
      $(".hamburger-box ").toggleClass("is-active");
    });
    var url = window.location.pathname;
    $('.nav-link li').find("a[href$='"+ url +"']").parent().addClass('active');
    $('.footer-menu li').find("a[href$='"+ url +"']").parent().addClass('active');
  });
</script>
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=92945b00-642a-48af-84b3-ff56596a7e82"></script>
<% if (data === 'pricing') { %>
  <script src="js/pricing.js"></script>
<% } else if (data === 'main') { %>
  <script src="js/main.js"></script>
<% } %>